<% layout("layouts/boilerplate.ejs") -%>
<body>
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Wanderlust</h1>
      <p class="col-md-8 fs-4">
        Discover your next adventure with Wanderlust - your gateway to
        unforgettable travel experiences!
      </p>

      <a href="/listings"
        ><button class="btn btn-primary btn-lg" type="button">
          Explore Now
        </button></a
      >
    </div>
  </div>
</body>
