<%- layout("/layouts/boilerplate")%>

<!-- <div class="row justify-content-end mt-3">
  <div class="alert alert-danger py-8 px-5" role="alert">
    <svg class="bi flex-shrink-0 me-1" role="img" aria-label="Warning:">
      <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <h4 class="alert-heading"><%= message%></h4>
  </div>
</div> -->

<div class="row justify-content-end mt-3">
  <div class="alert alert-danger alert-custom" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:">
      <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <span><%= message %></span>
  </div>
</div>
